.carousel-wrapper .carousel-indicators [data-bs-target] {
    width: 100px!important;
    margin: 0%;
    display: none;
    
  }
  

  .carousel-indicators [data-bs-target] {
    background-color: #7DCEA0 !important;
  } 
  .carousel-wrapper .caption {
    display: none;
  }
  .carousel-indicators {
    margin: 0% !important;
      width: 100%!important;
      justify-content: center;
      position: absolute;
      top: -10px;
     
      display: flex;
    }
    .carousel-wrapper:hover [data-bs-target] {
        width: 100%;
        margin: 0%;
          display: inline-flex;
      }