.carousel-indicators {
  margin: 0% !important;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: -10px;
   
    display: flex;
   
    
  }
  .homee{
   background-color: rgba(178, 182, 186, 0.219);
   background-color:white; 
  }
  .contain{
    top: 0;
    width: 100%;
    position: relative;
    padding: 0px !important;
    display: flex;
    flex-wrap: wrap;
  justify-content:space-around;
  /*  */
  
  }
  .containe{
    position: relative;
    padding: 0px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  /*  */
  
  }
 
  .carda{
    height: 50%;
    width: 30%;
    min-width: 300px;
    border: #7DCEA0 1px;
  }
  
  
  .carousel-wrapper .carousel-indicators  [data-bs-target] {
    width: 100%;
    margin: 0%;
    display: none;
  }
.FavoriteBorderOutlinedIcon{
position: absolute;
margin: 10px;
right: 5px;
width: 25px;
height: 25px;
background-color: rgba(255, 255, 255, 0.674);
border-radius: 50%;

  }
 

  .carousel-wrapper:hover [data-bs-target] {
    width: 100%;
    margin: 0%;
      display: inline-flex;
  }
  .carousel-indicators [data-bs-target] {
    background-color: #7DCEA0 !important;} 
  .carousel-wrapper .caption {
    display: none;
  }
  .card-body1{
    box-sizing: border-box  !important;
    padding:0px !important;
  }
  .carousel-wrapper:hover .caption{
  background-color: rgba(255, 255, 255, 0.87);
    display:block;
  }
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
}
.carousel-wrapper {
  border: #7DCEA0 1px;
  position: relative;
 height: 465px;
  /* max-height: 466px; */
    width:100%;
   
   
}
.card-body{
  max-height: 70px;
  margin-top: 5px;
  font-size: 1.2rem;
}

/* .swiper-slide img {
  display: block;
 height: 465px;
  object-fit: cover;
} */
.wiper-button-prev{    width: 500px;
    height: 500px;
    color:  #7DCEA0 ;
    z-index: 5;
    border: 3px solid;
}

  .btnfilter:hover {
    background-color: #7DCEA0 !important;
  }

  /* /////////////////////////////// */

  