.custom-navbar Nav.Link {
    padding: 0.5rem 50rem;
}
.nav-link {
    font-size: 500px;
}
.custom-navbar {
    height: 9%;
}
.hider::-webkit-scrollbar {
    display: none;
  }

.hider.a{
    hover:pointer;
}
.hell::-webkit-scrollbar {
    display: none;
  }
  .navhover {
    border-bottom: none;
    color: white;
   
  }
  
  .navhover:hover {
    color: #7DCEA0!important;
    cursor: pointer;
    border-bottom:1px solid #7DCEA0!important;
  }
  @media screen and (max-width: 767px) {
    .navbar-container {
      height: 80px;
    }
  
    .icon-link {
      padding: 10px;
    }
  
    .nav-links-container {
      display: none;
    }
  }
 
   /* Styles for the mobile-friendly version of the navbar */
.mobile-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: none; /* Initially hide the mobile navbar */
}

.mobile-navbar .nav-link {
  font-size: 18px;
  color: white;
  padding: 10px;
}

/* Style for the mobile menu toggle (hamburger icon) */
.mobile-menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: block;
}

@media screen and (max-width: 767px) {
  /* Show the mobile menu toggle for smaller screens */
  .mobile-menu-toggle {
    display: block;
  }

  /* Hide the desktop version of the navbar for smaller screens */
  .me-auto.hider {
    display: none;
  }
}